services:

    postgres:
        image: postgres:16
        container_name: hashcrack-pg
        restart: unless-stopped
        ports:
            - 127.0.0.1:5432:5432
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
          - hashcrack-pg-data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 1m30s
            timeout: 30s
            retries: 5
            start_period: 30s


volumes:
    hashcrack-pg-data:

    